@charset "utf-8";
.navbar-nav{
    color: #ff59c7;
}
body{
    background-color: #ff59c7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

footer{
    margin-top: 10px;
    background-color: #ff59c7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}