@charset "utf-8";
#Navbar{
    background-color: #ff59c7;
}

body{
    background-color: #ff59c7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    /*overflow-x: hidden;*/
}

footer{
    margin-top: 10px;
    background-color: #ff59c7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}