@charset "utf-8";
#Navbar{
    background-color: #ff59c7;
}

#title{
    color: #ff59c7;
}

body{
    background-image: url("../Images/bunni.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff59c7;
    font-size: large;
    /*overflow-x: hidden;*/
}