@charset "utf-8";

/*#Cyberpunk
{
    box-shadow: 5px 5px 5px #89CFF0 inset;
}*/

img
{
    border: 4px solid #ff59c7;
    border-radius: 0.5em;
    box-shadow: 5px 5px 5px #89CFF0 inset;
}

p
{
    text-shadow: 0.5px 0.5px 1.5px white;
}

li
{
    text-shadow: 0.5px 0.5px 1.5px #89CFF0;
}